!!!
%html
  %head
    = stylesheet_link_tag 'kuhsaft/cms/application.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body{ :class => "#{controller_name}" }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %p.navbar-text.pull-right
            = link_to t('.logout'), destroy_cms_admin_session_path, :method => :delete
          %ul.nav
            %li
              = link_to Kuhsaft::Page.model_name.human(:count => 2), kuhsaft.cms_pages_path
            %li
              = link_to 'Bilder', kuhsaft.cms_assets_path
      #toolbar
    .container.cms
      = yield
    = javascript_include_tag 'kuhsaft/cms/application.js'
