!!!
%html
  %head
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
    = stylesheet_link_tag 'kuhsaft/cms/application.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body{ :class => "#{controller_name}" }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li
              = link_to 'Seiten', kuhsaft.pages_path
            %li
              = link_to 'Bilder', kuhsaft.assets_path
      #toolbar
    .container.cms
      = yield
    = javascript_include_tag 'kuhsaft/cms/application.js'
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
