!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Screen Concept CMS
    = stylesheet_link_tag 'kuhsaft/cms/application.css', media: 'screen, projection'
    = stylesheet_link_tag 'kuhsaft/cms/customizations.css', media: 'screen, projection'
    = csrf_meta_tag

  %body{ :class => "#{controller_name}" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'main_navigation'

      #toolbar
    .container.cms
      .row
        .span12
          = render 'flash', :flash => flash
          = yield

    = javascript_include_tag 'kuhsaft/cms/application.js'
    = javascript_include_tag 'kuhsaft/cms/customizations.js'
