%div{ :class => text_brick.to_style_class }
  - if text_brick.read_more_text.present?
    = text_brick.text.to_s.html_safe

    %div.collapse{ :id => text_brick.to_style_id }
      = text_brick.read_more_text.to_s.html_safe

    = read_more_link("##{text_brick.to_style_id}")

  - else
    = text_brick.text.to_s.html_safe
