%div{ :class => text_brick.to_style_class }
  - if text_brick.read_more_text.present?
    .expandable{ :id => text_brick.to_style_id }
      = text_brick.text.html_safe
      %a.more{ :href => '#' }
        = t('.read_more')
      .expandable-content.hidden
        = text_brick.read_more_text.to_s.html_safe
        %a.less{ :href => "##{text_brick.to_style_id}" }
          = t('.read_less')
  - else
    = text_brick.text.to_s.html_safe
