= simple_form_for @page, :url => url do |f|
  = f.input :title
  = f.input :slug
  = f.input :keywords
  = f.input :description, :as => :text
  = f.input :parent_id, :as => :hidden, :input_html => { :value => params[:parent_id] } if params[:parent_id].present?
  = f.button :submit