- Kuhsaft::Page.translation_locales.each do |locale|
  = link_to locale.to_s, url, :class => 'button'

= simple_form_for @page, :url => url do |page|
  = page.fields_for :localized_pages do |localized|
    = localized.input :title
    = localized.input :slug, :required => false
    = localized.input :keywords
    = localized.input :description
    = localized.input :locale, :as => :hidden
  = page.button :submit