- content_for :toolbar do
  = link_to 'Neue Seite', new_admin_page_path
  
%ul.pages-root
  - @pages.each do |page|
    %li
      .page-branch
        = link_to page.title, edit_admin_page_path(page), :class => :edit
        = link_to 'Child einfügen', new_admin_page_path(:parent_id => page.id), :class => :'new-child'
        = link_to('Löschen', admin_page_path(page), :confirm => 'Bist du sicher?', :method => :delete, :class => :delete) if page.childs.empty?
      - unless page.childs.empty?
        %ul
          - page.childs.each do |subpage|
            %li
              .page-branch= link_to subpage.title, edit_admin_page_path(subpage)