.link
  = link_to page.link do
    %h4= page.title
  %h5= URI.join(root_url, page.link)
.summary
  -if page.fulltext.present?
    %span.fulltext!= page.fulltext
  -if page.keywords.present?
    %span.keywords
      = page.keywords
