.link
  = link_to page.link do
    %h4= page.title
  %h5= kuhsaft.page_url(:url => page.url_without_locale)
.summary
  -if page.excerpt.present?
    .excerpt!= page.excerpt
  -elsif page.fulltext.present?
    .fulltext!= page.fulltext

  -if page.keywords.present?
    .keywords
      = page.keywords
