!!!
%html
  %head
    = stylesheet_link_tag 'kuhsaft/cms/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'kuhsaft/ui-lightness/jquery-ui-1.8.12.custom.css', :media => 'screen, projection'
    = csrf_meta_tag
    = javascript_include_tag 'kuhsaft/cms/jquery-1.4.4.js'
    = javascript_include_tag 'kuhsaft/cms/jquery-ui-1.8.12.custom.min.js'
    = javascript_include_tag 'kuhsaft/cms/rails.js'
    = javascript_include_tag 'kuhsaft/cms/application.js'
  %body{ :class => "#{controller_name}" }
    #kuhsaft-wrapper
      .cms-header
        .container
          - if respond_to?(:destroy_user_session_path)
            = link_to(t('.logout'), destroy_user_session_path, :class => :logout)
      .cms-content-container
        %ul.cms-module-nav
          = admin_tab(t('.pages_nav'), cms_pages_path)
          = admin_tab(t('.assets_nav'), cms_assets_path)
          = render :partial => 'cms/admin_navigation' rescue ''
          .clear
        %ul.language-tabs
          = yield :cms_language_tabs
          .clear
        .toolbar
          = yield :admin_toolbar
          .clear
        .cms-content
          = yield :before_admin_content
          = yield
          = yield :after_admin_content
      = yield :scripts
