- unless pages.blank?
  %ol.dd-list
    - pages.each do |page|
      %li.dd-item.dd3-item{ 'data-id' => page.id }
        .dd-handle.dd3-handle
          handle
        .dd3-content{ class: page.state_class }
          = link_to page.navigation_name.presence, kuhsaft.edit_cms_page_path(page)

          .button-group
            - if page.children.empty?
              = link_to kuhsaft.cms_page_path(page), :confirm => t('kuhsaft.cms.admin.confirm_delete', :name => page.navigation_name), :method => :delete, :class => 'btn btn-small btn-danger' do
                %i.icon-trash.icon-white

            = link_to kuhsaft.new_cms_page_path(:parent_id => page.id), :class => 'btn btn-small' do
              %i.icon-plus-sign
              = t('kuhsaft.cms.pages.index.add_page')

        - unless page.children.empty?
          = render partial: 'branch', locals: { pages:  page.children }
