%ul.nav.nav-tabs.js-tabs
  %li{ class: metadata_tab_active(@page) }
    = link_to t('.tab_metadata'), '#page-metadata', 'data-toggle' => :tab
  - unless hide_content_tab?(@page)
    %li{ class: content_tab_active(@page) }
      = link_to t('.tab_content'), '#page-content', 'data-toggle' => :tab

  - I18n.available_locales.reverse.each do |locale|
    %li.pull-right{ :class => (:active if I18n.locale.to_s == locale.to_s) }
      - if @page.translated_to?(locale)
        = link_to_content_locale(locale)
      - else
        = link_to locale.to_s.upcase, url_for(:action => params[:action], :content_locale => locale), 'data-toggle' => 'tooltip', 'title' => t('.not_translated'), :class => 'not-translated'

.tab-content
  #page-metadata.tab-pane{ class: metadata_tab_active(@page) }
    = simple_form_for @page, url: url, html: { class: 'form-horizontal' }, wrapper: :bootstrap do |form|
      = form.input :title, required: false, input_html: { class: :span5 }
      = form.input :slug, required: false, input_html: { class: :span5 }
      = form.input :page_title, required: false, input_html: { class: :span5 }
      = form.input :parent_id, collection: Kuhsaft::Page.flat_tree, label_method: :nesting_name, selected: params[:parent_id].presence || @page.parent_id.presence, prompt: t('.none'), input_html: { class: :span3 }
      = form.input :page_type, collection: Kuhsaft::PageType.all, prompt: false, default: Kuhsaft::PageType::CONTENT, input_html: { class: :span3 }
      = form.input :redirect_url, as: :string
      = form.input :url, as: :string, input_html: { disabled: 'disabled' }
      = form.input :keywords, input_html: { class: :span5 }, hint: t('.hint_keywords').html_safe
      - if @page == homepage
        = form.input :google_verification_key
      = form.input :description, as: :text, input_html: { class: :span5, rows: 4 }, hint: t('.hint_description').html_safe
      = form.input :published, as: :boolean

      .form-actions
        = form.button :submit, class: 'btn btn-primary'

  - unless hide_content_tab?(@page)
    #brick-form.modal.hide.fade{ :tabindex => '-1', :role => 'dialog' }
    #page-content.tab-pane{ class: content_tab_active(@page) }
      - if @page.persisted?
        .clearfix
          .actions
            .btn-group.pull-left#collapse-bricks-nav{ class: @page.bricks.present? ? '' : 'hidden' }
              .btn.btn-small#expand-all
                %i.icon-resize-full
                = t('.expand_all')

              .btn.btn-small#collapse-all
                %i.icon-resize-small
                = t('.collapse_all')

            = render 'brick_clone_menu'
            = render 'brick_type_dropdown', :brick_list => @page

        = render 'kuhsaft/cms/bricks/brick_list', :brick_list => @page

= render 'kuhsaft/cms/bricks/sort_form'
