= simple_form_for @page, :url => url, :html => { :class => 'form-horizontal' } do |form|

  %ul.nav.nav-tabs.js-tabs
    %li{ :class => metadata_tab_active(@page) }
      = link_to 'Metadaten', '#page-metadata', 'data-toggle' => :tab
    %li{ :class => content_tab_active(@page) }
      = link_to 'Content', '#page-content', 'data-toggle' => :tab

  .tab-content
    #page-metadata.tab-pane{ :class => metadata_tab_active(@page) }
      = form.input :title, :required => false, :input_html => { :class => :span5 }
      = form.input :slug, :required => false, :input_html => { :class => :span5 }
      = form.input :parent_id, :collection => Kuhsaft::Page.flat_tree, :label_method => :nesting_name, :selected => params[:parent_id].presence || @page.parent_id.presence, :prompt => 'None', :input_html => { :class => :span3 }
      = form.input :page_type, :collection => Kuhsaft::PageType.all, :prompt => false, :input_html => { :class => :span3 }
      = form.input :url, :as => :string if @page.redirect?
      = form.input :keywords, :input_html => { :class => :span5 }
      = form.input :description, :as => :text, :input_html => { :class => :span5 }

      .lightened-box.publish-information
        .column.grid-3
          = form.radio_button :published, Kuhsaft::PublishState::UNPUBLISHED
          = form.label :published, t('.unpublished'), :class => :radio, :for => :kuhsaft_page_localized_pages_attributes_0_published_0
        .column.grid-3
          = form.radio_button :published, Kuhsaft::PublishState::PUBLISHED
          = form.label :published, t('.published'), :class => :radio, :for => :kuhsaft_page_localized_pages_attributes_0_published_1
        .clear
    #page-content.tab-pane{ :class => content_tab_active(@page) }
      = render 'kuhsaft/cms/bricks/brick_list', :brick_list => @page.bricks, :page => @page, :form => form, :parent => nil

  .actions
    = form.button :submit, :class => 'btn btn-primary'
