= simple_form_for @page, :url => url do |page|
  = page.fields_for :localized_pages, @localized_page do |localized|
    
    .lightened-box
      %h1= page_title
      = localized.input :locale, :as => :hidden
      = localized.input :title, :required => false
      = localized.input :slug, :required => false, :input_html => { :class => :dimmed }
      = page.input :parent_id, :collection => Kuhsaft::Page.flat_tree(), :label_method => :nesting_name, :selected => params[:parent_id].presence || page.object.parent_id.presence, :prompt => 'None', :label_html => { :class => :string }
      .clear
    
    .page-part-list
      = localized.fields_for :page_parts, @localized_page.page_parts do |page_part|
        .colored-box.draggable-box{ :'data-id' => page_part.object.id, :'data-put-url' => '' }
          .drag-handler
          - unless page_part.object.persisted?
            = page_part.input :type, :as => :hidden, :input_html => { :value => page_part.object.class.to_s }
    
          = render :partial => page_part.object.edit_partial_path, :locals => { :input_form => page_part }
          .page-part-helpers
            = page_part.input :tags, :as => :string, :label => false, :wrapper_html => { :class => 'page-part-tags' }, :input_html => { :placeholder => 'Tags' }
            = page_part.input :_destroy, :as => :boolean, :wrapper_html => { :class => 'page-part-destroy' }
            .clear
    - if localized.object.persisted? && !@page.redirect?
      .lightened-box.add-page-part
        %label.string{ :for => :page_part_type }= t('.add_element')
        = page.collection_select :page_part_type, Kuhsaft::PagePart::Content.page_part_types, :to_s, :to_name
        = page.button :submit, :name => :add_page_part, :value => t('.add_page_part')
        .clear

    .darkened-box
      %h3.toggle.closed= t('.metainformation')
      .collapsable.hidden
        = localized.input :page_type, :collection => Kuhsaft::PageType.all, :prompt => false, :label_html => { :class => :string }
        = localized.input :url, :as => :string if @page.redirect?
        - unless localized.object.page_type == Kuhsaft::PageType::REDIRECT
          = localized.input :keywords
          = localized.input :description, :input_html => { :class => :small }, :label_html => { :class => :string }
    .lightened-box.publish-information
      .column.grid-3
        = localized.radio_button :published, Kuhsaft::PublishState::UNPUBLISHED
        = localized.label :published, t('.unpublished'), :class => :radio, :for => :kuhsaft_page_localized_pages_attributes_0_published_0    
      .column.grid-3
        = localized.radio_button :published, Kuhsaft::PublishState::PUBLISHED
        = localized.label :published, t('.published'), :class => :radio, :for => :kuhsaft_page_localized_pages_attributes_0_published_1
      .column.grid-5
        = localized.radio_button :published, Kuhsaft::PublishState::PUBLISHED_AT
        = localized.label :published, t('.published_at'), :class => :radio, :for => :kuhsaft_page_localized_pages_attributes_0_published_2
        = localized.text_field :published_at, :class => 'small string', :placeholder => 'dd.mm.yyyy HH:MM'
      .column.grid-2
        = page.button :submit
      .clear

:javascript
  $(".toggle").click(function(){
    $(this).toggleClass("closed").next(".collapsable").toggleClass("hidden")
  })