%ul.nav.nav-tabs.js-tabs
  %li{ :class => metadata_tab_active(@page) }
    = link_to t('.tab_metadata'), '#page-metadata', 'data-toggle' => :tab
  %li{ :class => content_tab_active(@page) }
    = link_to t('.tab_content'), '#page-content', 'data-toggle' => :tab

.tab-content
  #page-metadata.tab-pane{ :class => metadata_tab_active(@page) }
    = simple_form_for @page, :url => url, :html => { :class => 'form-horizontal' } do |form|
      = form.input :title, :required => false, :input_html => { :class => :span5 }
      = form.input :slug, :required => false, :input_html => { :class => :span5 }
      = form.input :parent_id, :collection => Kuhsaft::Page.flat_tree, :label_method => :nesting_name, :selected => params[:parent_id].presence || @page.parent_id.presence, :prompt => 'None', :input_html => { :class => :span3 }
      = form.input :page_type, :collection => Kuhsaft::PageType.all, :prompt => false, :input_html => { :class => :span3 }
      = form.input :url, :as => :string if @page.redirect?
      = form.input :keywords, :input_html => { :class => :span5 }
      = form.input :description, :as => :text, :input_html => { :class => :span5, :rows => 4 }
      = form.input :published, :as => :boolean

      .form-actions
        = form.button :submit, :class => 'btn btn-primary'

  #page-content.tab-pane{ :class => content_tab_active(@page) }
    - if @page.persisted?
      = render 'kuhsaft/cms/bricks/brick_list', :brick_list => @page
